# Jupyter Data Science Workflow

Video 1 of 10

In [1]:
import pandas as pd
%matplotlib inline
import matplotlib as plt
plt.style.use('seaborn')

URL = 'https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD'

In [2]:
from jupyter_workflow import data
rawdata_filename = 'Fremont.csv'
data = data.get_url_data(rawdata_filename=rawdata_filename, url=URL)
data

                        Total  East   West
Date
10/03/2012 12:00:00 AM   13.0   4.0    9.0
10/03/2012 01:00:00 AM   10.0   4.0    6.0
10/03/2012 02:00:00 AM    2.0   1.0    1.0
10/03/2012 03:00:00 AM    5.0   2.0    3.0
10/03/2012 04:00:00 AM    7.0   6.0    1.0
...                       ...   ...    ...
08/31/2020 07:00:00 PM  190.0  79.0  111.0
08/31/2020 08:00:00 PM  108.0  58.0   50.0
08/31/2020 09:00:00 PM   33.0  11.0   22.0
08/31/2020 10:00:00 PM   36.0  14.0   22.0
08/31/2020 11:00:00 PM    8.0   2.0    6.0

[135614 rows x 3 columns]

In [ ]:
data = get_url_data(rawdata_filename=rawdata_filename, url=URL)

In [ ]:
data

In [ ]:
!head Fremont.csv

In [ ]:


data.head(40)

In [ ]:
%matplotlib inline
data.plot()

In [ ]:
# From hourly data plot to week sum data plot
data.resample('W').sum().plot();

Video 2 of 10

## from matplot default to seaborn style

In [ ]:
# more concise legends

data.resample('W').sum().plot();

## Show annual numbers, using the rolling feature

In [ ]:
# It sums one year of daily sum of numbers, so the graphs first start out a year later than the data is collected
ax = data.resample('D').sum().rolling(365).sum().plot();
ax.set_ylim(0,None)

## Making pivot table to show individual days using groupby()

In [ ]:
data.index[6:10]

In [ ]:
# First we make a groupby where we take the hourly count of bikes during a day hours of a day for  
print(data.groupby(data.index.hour).mean())
data.groupby(data.index.hour).mean().plot(y=['Total', 'West', 'East']);

In [ ]:
pivot_table= data.pivot_table('Total', index=data.index.time, columns=data.index.date)
print(pivot_table.iloc[0:5, 0:5])
pivot_table.plot(legend=False, alpha=0.01, figsize=(10,12));

In [ ]:
import numpy as np
data['weekday'] = data.index.weekday
data['weekend'] = np.where(data['weekday']>4, True, False)
cols = ['weekday','weekend', 'East', 'West', 'Total']
data = data[cols]
data

In [ ]:
pivot_table2= data.pivot_table('Total', index=data.index.hour, columns='weekend')
print(pivot_table2.iloc[0:5])
pivot_table2.plot(figsize=(15,12));